.body-home {
  background-image: radial-gradient(
      circle at 48% 33%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 28% 16%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 34% 52%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 92% 52%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 77% 84%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 75% 64%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 70% 62%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 55% 100%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 12% 11%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 35% 55%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(45deg, rgb(26, 21, 192), rgb(171, 83, 239));
}

.vitrine-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boule-left,
.boule-right {
  display: flex;
  flex-direction: column;
}

/* Boules rouges (start) */
.boule-rouge-home {
  width: 200px;
  margin-left: 50px;
  transform: rotate(10deg);
}

.boule-rouge-home:hover {
  animation: turnRed 1s linear;
}

@keyframes turnRed {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
/* Boules rouges (end) */

/* Boules jaunes (start) */

.boule-jaune-home {
  width: 200px;
  margin: 50px 50px;
  transform: rotate(-10deg);
}

.boule-jaune-home:hover {
  animation: turnYellow 1s linear;
}

@keyframes turnYellow {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* Boules jaunes (end) */

.happy-new-year-home {
  display: flex;
  font-size: 100px;
  justify-content: center;
  padding-top: 50px;
  animation: flash 1s linear infinite;
}

@keyframes flash {
  0% {
    color: transparent;
    text-shadow: none;
  }
  30% {
    text-shadow: 0 0 7px #fff900, 0 0 50px #ffae00;
  }
  50% {
    text-shadow: 0 0 7px #e83e18, 0 0 50px #c00c0c;
  }
  75% {
    text-shadow: 0 0 7px #3abb1a, 0 0 50px #2a8b11;
  }
  90% {
    text-shadow: 0 0 7px #000, 0 0 50px #000;
  }
}

.sapin-home {
  z-index: 1;
  width: 550px;
}

.gifts {
  display: flex;
  justify-content: center;
  padding-bottom: 215px;
}

.left-gift,
.right-gift {
  width: 10%;
}

.left-gift {
  margin-right: 50px;
  animation: left-gift 1s linear infinite;
}

.right-gift {
  margin-left: 50px;
  animation: right-gift 1s linear infinite;
}

@keyframes left-gift {
  0% {
    transform: rotate(0deg);
  }
  14% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(2deg);
  }
  17% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(7deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(9deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(11deg);
  }
  55% {
    transform: rotate(-11deg);
  }
  60% {
    transform: rotate(10deg);
  }
  65% {
    transform: rotate(-9deg);
  }
  66% {
    transform: rotate(0deg);
  }
}

@keyframes right-gift {
  0% {
    transform: rotate(0deg);
  }
  44% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(2deg);
  }
  47% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(7deg);
  }
  55% {
    transform: rotate(-8deg);
  }
  70% {
    transform: rotate(9deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(11deg);
  }
  85% {
    transform: rotate(-11deg);
  }
  90% {
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-9deg);
  }
  96% {
    transform: rotate(0deg);
  }
}
