@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Secular One", sans-serif;
}

.header-banner {
  background-image: radial-gradient(
      circle at 69% 3%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 85% 72%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 43% 49%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 12% 98%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 37% 52%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 22% 59%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 25% 56%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 22% 79%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 80% 81%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 52% 16%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(135deg, rgb(205, 220, 48), rgb(224, 17, 25));
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
}

.nav-bar {
  background-color: #2d70c6;
  padding: 15px 0;
  color: white;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-home1,
.nav-liste2,
.nav-venezuela3 {
  color: #fa776a;
}

.nav-liste1:hover,
.nav-venezuela1:hover,
.nav-home2:hover,
.nav-venezuela2:hover,
.nav-home3:hover,
.nav-liste3:hover {
  color: #c7cdd4;
  transition: 0.2s linear;
}

.nav-neige {
  display: flex;
  justify-content: center;
  margin-top: -35px;
  margin-bottom: -35px;
  overflow: hidden;
}

.element-neige {
  margin: 0 -20px;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  nav {
    font-size: 17px;
  }
  .nav-bar {
    padding: 12px 0;
  }
  #my-audio {
    height: 40px;
    width: 200px;
  }
  @media screen and (max-width: 700px) {
    nav {
      font-size: 14px;
    }
    .nav-bar {
      padding: 9px 0;
    }
    #my-audio {
      height: 35px;
      width: 175px;
    }
    @media screen and (max-width: 630px) {
      nav {
        font-size: 10px;
      }
      .nav-bar {
        padding: 7px 0;
      }
      #my-audio {
        height: 25px;
        width: 150px;
      }
      @media screen and (max-width: 570px) {
        nav {
          font-size: 10px;
        }
        .nav-bar {
          padding: 5px 0;
        }
        #my-audio {
          height: 25px;
          width: 155px;
        }
        /* Mettre l'effet avec le burger */
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header-banner {
    height: 175px;
    font-size: 85px;
  }
  @media screen and (max-width: 735px) {
    .header-banner {
      height: 150px;
      font-size: 70px;
    }
    @media screen and (max-width: 700px) {
      .header-banner {
        height: 125px;
        font-size: 55px;
      }
      @media screen and (max-width: 630px) {
        .header-banner {
          height: 100px;
          font-size: 40px;
        }
        @media screen and (max-width: 500px) {
          .header-banner {
            height: 90px;
            font-size: 35px;
          }
        }
      }
    }
  }
}

.responsive-neige {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-neige {
    height: 40px;
    margin-bottom: -15px;
  }
  @media screen and (max-width: 630px) {
    .nav-neige {
      height: 30px;
      margin-bottom: -10px;
    }
    @media screen and (max-width: 630px) {
      .nav-neige {
        height: 22px;
        margin-bottom: -10px;
      }
      @media screen and (max-width: 500px) {
        .nav-neige {
          height: 15px;
          margin-bottom: -10px;
        }
        .responsive-neige {
          display: block;
        }
      }
    }
  }
}
